

.div-index {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    

  }
  
  .formulario {
    width: 286px;
    padding: 5px;
    background-color:rgba(128, 128, 128, 0.411);
    border-radius:15px
    
   
  }

.background{
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-login{
    width: 170px
}

.form1{
  /* align-items: left; */
  margin-top: 10%;
  padding: 5px;
  background-color:rgba(128, 128, 128, 0.411);
  /*width: 30%;*/
  border-radius:15px
}

/* @media (max-width: 600px) {
  .form1 {
    width:100%;
  }
} */

.registrosPrevios{
  margin-top: 3%;
  padding: 5px;
  background-color:rgba(128, 128, 128, 0.411);
  border-radius:15px;
  height: 50%;
}
